@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


*,
*::before,
*::after {
  line-height: 1.5;
  letter-spacing: .2rem;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

